#meme_text {
    background-color:transparent;
    font-size: 40px;
    font-family: "Impact";
    color: red;
    text-shadow: mediumslateblue 0px 0px 10px;
    width: 600px;
    position: absolute;
    left: 15px;
    top: 400px;
    
}
h1{
    color:darkred;
    text-decoration: dimgray underline;
    
}
p{
    color:midnightblue;
    text-decoration: underline;
    font-weight: bold;
}

#image {
    width: 500px;
    border: 3px solid  black;
    
    
    
}
form{
    text-align: center;
}
body{
    background-color: thistle;
}